<ion-view view-title="asdfasdf">
  <ion-content class="padding">
    <hgroup>
      <h1>{{model.title}}</h1>
      <h2>{{model.edition}}</h2>
    </hgroup>
     <div>
        {{model.dueDate}}
     </div>
     <div>
       <i class="fa fa-map-marker"></i>
       <h4>{{model.local.name}}</h4>

        {{model.local.address}}
     </div>
     <!-- <div>
        {{model.contacts}}
        type
        text
     </div>
     <div>
        {{model.sponsors}}
        name
        level
     </div> -->
  </ion-content>
</ion-view>
