<ion-view view-title="Programação do Evento">
  <ion-content>
    <h1>
      Programação
    </h1>
    <div class="list">

      <a class="item" href="#/{{item.id}}">
        <time>08:00 - 09:15</time>
        <h2>Credenciamento</h2>
      </a>

      <a class="item" href="#/{{item.id}}">
        <time>09:20 - 09:50</time>
        <h2>Node.js e ASP.NET 5</h2>
        <h4>Waldyr Felix</h4>
      </a>

      <a class="item" href="#/{{item.id}}">
        <time>09:20 - 09:50</time>
        <h2>Node.js e ASP.NET 5</h2>
        <h4>Waldyr Felix</h4>
      </a>

      <a class="item" href="#/{{item.id}}">
        <time>09:20 - 09:50</time>
        <h2>Node.js e ASP.NET 5</h2>
        <h4>Waldyr Felix</h4>
      </a>
    </div>
  </ion-content>
</ion-view>
